/* App.css */
.App {
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  transition: transform 0.3s;
  background-color: #f9f9f9;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  margin-bottom: 10px;
}

.quantity-control button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
}

.quantity-control input {
  width: 40px;
  text-align: center;
  font-size: 16px;
  margin-right: -2px; /* Negative margin to remove space */
}

.cart-button {
  position: fixed;
  top: 20px;
  right: 20px;
}

.cart-button button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #28a745;
  color: #fff;
  border-radius: 4px;
}
